@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.box-part {
    background-color: gainsboro;
    text-align: center;
    padding: 40px 20px;
    margin: 20px 20px 20px 15px;
}

.fa {
    color: blue;
}